html, body{
	height:100%;
}
div.div_vertical#div_main_container{
	width:75%;
	height:100%;
	float:left;
}
div.div_horizontal{
	overflow:hidden;
	width:100%;	
}
div.div_horizontal#div_image{
	height:75%;
}
div.div_horizontal#div_state_container{
	height:25%;
}

div#div_image{
	display:block;
    float:left;
	height:100%;
    background-color:blue;
}
div#div_image canvas#canvas_image{
	background-color:pink;
	width:100%;
	height:100%;
}
div#div_toolbox{
    background-color:red;
	float:left;
	display:block;
	width:25%;
}
div.horizontal#div_state_container div.div_state{
	height:100%;
}
div#div_current_state{
    float:left;
    width:50%;
    background-color:yellow;
	height:100%;
}
div#div_load_state{
    width:50%;
    background-color:green;
    float:left;
	height:100%;
}
textarea.txt_state{
	width:80%;
	height:80%;
	float:left;
}
div.div_state div.div_state_buttons{
	float:left;
}
div#div_toolbox_objects_tree ul#list_toolbox_objects_tree ul{
	list-style-type: none;
}
div#div_toolbox_objects_tree ul#list_toolbox_objects_tree li{
}
div#div_toolbox_objects_tree ul#list_toolbox_objects_tree li.collapsed > ul{
	display:none;
}
div#div_toolbox_objects_tree ul#list_toolbox_objects_tree li .command{
	float:left;
}
div#div_toolbox_objects_tree ul#list_toolbox_objects_tree li.collapsed > .expand_command{
	display:inline;
}
div#div_toolbox_objects_tree ul#list_toolbox_objects_tree li.collapsed > .collapse_command{
	display:none;
}
div#div_toolbox_objects_tree ul#list_toolbox_objects_tree li.expanded > .expand_command{
	display:none;
}
div#div_toolbox_objects_tree ul#list_toolbox_objects_tree li.expanded > .collapse_command{
	display:inline;
}
div#div_toolbox_objects_tree ul#list_toolbox_objects_tree li>span.span_li_title{
	display:block;
	overflow:hidden;
}
div#div_toolbox_objects_tree ul#list_toolbox_objects_tree li>span.span_li_title:hover{
	background-color:blue;
	cursor:pointer;
}


div#div_toolbox_objects_details div#div_details ul.ul_corners{
	list-style-type:none;
	margin:0px;
}
div#div_toolbox_objects_details div#div_details ul.ul_corners input{
	width:40px;
}

